<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Calculadora</title>
</head>

<body>

<div class="page-header">
  <h1>Resultados</h1>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Año</th>
      <th scope="col">Flujo Neto Efectivo</th>
      </tr>
  </thead>
  <tbody>
      <%for (let i = 0;i < respuesta.lista.length;i++){%>
        <tr>
        <td><%=i+1%></td>
        <td><%=respuesta.lista[i]%></td>
        </tr>
      <%}%>
  </tbody>
</table>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Resultados</h5>
    <label><b>VAN:</b> <%=respuesta.VAN%> <label>
    <label><b>TIR:</b> <%=respuesta.TIR%> <label>  
    <a href="/" class="card-link">Volver a Calcular</a>
  </div>
</div>


</body>
</html>